.width-full() {
  width: 100%;
}

.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle(@r, @bgColor: rgba(0,0,0,0)) {
  width: @r;
  height: @r;
  border-radius: 50%;
  background: @bgColor;
}
