.cloud-aksk-modal {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-modal-confirm-btns {
    display: none;
  }

  .footer {
    margin-top: 10px;
  }

  .ant-modal-confirm-title {
    font-weight: 400;
    font-size: 14px;
  }

  .ant-modal-confirm-content {
    margin-top: 10px;
  }

  .ant-modal-body {
    padding: 20px !important;
  }

  .anticon {
    font-size: 18px;
    margin-right: 8px;
  }
}

.enter-op-pwd-modal,
.dingding-aprrove-modal,
.set-op-password-modal {
  .ant-modal-confirm-title {
    font-weight: 400;
    font-size: 14px;
  }

  .ant-modal-confirm-content {
    margin-top: 10px;
  }

  .ant-modal-body {
    padding: 20px !important;
  }

  .anticon {
    font-size: 18px;
    margin-right: 8px;
  }

  .ant-modal-confirm-btns {
    display: none;
  }

  .ant-form-item-control-wrapper {
    position: relative;
    .error-msgContent {
      position: absolute;
      color: #ff1815;
    }
  }
}

.ant-modal-error.limit-height {
  .ant-modal-confirm-content {
    max-height: 400px;
    overflow-y: scroll;
  }
}
:where(.ant-modal) .ant-modal-footer .ivu-btn {
  min-width: 100px !important;
  margin: 0 10px;
}

:where(.ant-modal) .ant-modal-footer .ant-btn {
  min-width: 100px !important;
  margin: 0 10px;
  border-radius: 4px !important;
}

//.enter-op-pwd-modal {
//  .pwd {
//    .label {
//      display: inline-block;
//    }
//    input {
//      display: inline-block;
//      width: 180px;
//    }
//  }
//}

.enter-op-pwd-modal {
  .pwd {
    display: flex;
    align-items: center;

    .label {
      width: 60px;
      margin-right: 10px;
    }
  }

  .reset {
    text-align: right;
    margin-top: 16px;
    margin-left: 300px;
  }
}

// CCModal样式
.ant-modal .ant-modal-content .ant-modal-footer {
  display: flex !important;
  justify-content: center !important;
  border: none !important;
  padding: 12px 18px 5px 18px !important;
  width: initial !important;
}
