@gray: #ececec;
@font-color: rgba(0, 0, 0, 0.88);
@basicFontSize: 14px;

// Color
@primary-color: #0bb9f8;
@info-color: #0087c7;
@success-color: #52c41a;
@processing-color: @primary-color;
@warning-color: #ffa30e;
@warning-more-color: #ff6e0d;
@error-color: #ff1815;
@default-color: rgba(0, 0, 0, 0.88);
@text-color: #555;
@icon-color: #888;
@placeholder-color: #bbb;
@line-color: #dadada;
@tip-background-color: #ececec;
@body-color: #fafafa;

@link-color: rgba(0, 0, 0, 0.88);
@link-hover-color: @primary-color;
@link-active-color: #0087c7;
@white: #fff;
@black: #000;

@hover-color: #2ac6ff;
@active-color: #009bd4;
@background-grey: #f4f4f4;

//size
