<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.console.web.dal.mapper.DmResAuthMapper">
    <resultMap id="resAuthDO" type="com.clougence.clouddm.console.web.dal.model.DmResAuthDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="res_id" property="resId"/>
        <result column="res_inst_id" property="resInstId"/>
        <result column="res_desc" property="resDesc"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="res_path" property="resPath"/>
        <result column="level_one" property="levelOne"/>
        <result column="level_two" property="levelTwo"/>
        <result column="level_three" property="levelThree"/>
        <result column="level_four" property="levelFour"/>
        <result column="kind_type" property="kindType" javaType="com.clougence.clouddm.sdk.security.auth.AuthKind"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="res_auth_label" property="authLabels"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="rdpResAuth">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        res_id,
        res_inst_id,
        res_desc,
        res_path,
        level_one,
        level_two,
        level_three,
        level_four,
        start_time,
        end_time,
        kind_type,
        res_auth_label
    </sql>

    <sql id="rdpResAuthWithoutAuthLabel">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        res_id,
        res_inst_id,
        res_desc,
        res_path,
        level_one,
        level_two,
        level_three,
        level_four,
        start_time,
        end_time,
        kind_type
    </sql>

    <select id="queryAuthCountByUser" resultType="long">
        SELECT count(*)
        FROM dm_res_auth
        WHERE owner_uid = #{ownerUid}
    </select>

    <select id="queryByPathLike" resultMap="resAuthDO">
        SELECT
        <include refid="rdpResAuth"/>
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        res_id = #{resId} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind}
        <if test="prefixList != null and prefixList.size() > 0">
            <foreach collection="prefixList" item="item" index="index" separator="or" open="and (" close=")">
                #{item} like concat(res_path,'%')
            </foreach>
        </if>
    </select>

    <select id="queryByLikePath" resultMap="resAuthDO">
        SELECT
        <include refid="rdpResAuth"/>
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        res_id = #{resId} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind} and
        res_path like concat(#{path},'%')
    </select>


    <select id="queryByPath" resultMap="resAuthDO">
        SELECT
        <include refid="rdpResAuth"/>
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        res_id = #{resId} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind} and
        res_path = #{path}
    </select>

    <select id="listByKind" resultMap="resAuthDO">
        SELECT
        <include refid="rdpResAuth"/>
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind}
    </select>

    <select id="listWithoutLabels" resultMap="resAuthDO">
        SELECT
        <include refid="rdpResAuthWithoutAuthLabel"/>
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind}
    </select>

    <update id="updateAuthById">
        UPDATE
        dm_res_auth
        SET
        res_auth_label = #{resAuthLabel}
        <if test="startTime != null">, start_time=#{startTime}</if>
        <if test="endTime != null">, end_time=#{endTime}</if>
        WHERE
        id = #{id}
    </update>

    <delete id="deleteByRes">
        DELETE
        FROM dm_res_auth
        WHERE res_id = #{resId}
          and kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind}
    </delete>

    <delete id="deleteByUser">
        DELETE
        FROM dm_res_auth
        WHERE owner_uid = #{ownerUid}
    </delete>

    <delete id="deleteByPrefix">
        DELETE
        FROM dm_res_auth
        WHERE res_path like concat(#{prefixPath}, '%')
          and kind_type = #{kindType}
    </delete>

    <delete id="deleteByEndTimeExceed">
        DELETE
        FROM dm_res_auth
        WHERE end_time is not null
        <![CDATA[ and end_time <= #{endTime} ]]>
    </delete>

    <delete id="deleteByPath">
        delete
        FROM
        dm_res_auth
        WHERE
        owner_uid = #{ownerUid} and
        res_id = #{resId} and
        kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind} and
        res_path = #{path}
    </delete>

    <select id="queryByUniqueKey" resultMap="resAuthDO">
        SELECT
            <include refid="rdpResAuth"/>
        FROM
            dm_res_auth
        WHERE
            res_id    = #{resId} and
            owner_uid = #{ownerUid} and
            res_path  = #{resPath} and
            kind_type = #{authKind,javaType=com.clougence.clouddm.sdk.security.auth.AuthKind}
    </select>
</mapper>
