<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.console.web.dal.mapper.RdpCacheApproTemplateMapper">

    <resultMap id="cacheApproTemplateDO" type="com.clougence.clouddm.console.web.dal.model.RdpCacheApproTemplateDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="primary_uid" property="primaryUid"/>
        <result column="approval_type" property="approvalType" typeHandler="com.clougence.clouddm.console.web.dal.handler.RdpApprovalTypeHandler"/>
        <result column="template_name" property="templateName"/>
        <result column="template_identity" property="templateIdentity"/>
        <result column="appro_url" property="approUrl"/>
        <result column="template_content" property="templateContent"/>
    </resultMap>

    <sql id="cacheAppro_allColumns">
        id,
        gmt_create,
        gmt_modified,
        primary_uid,
        approval_type,
        template_name,
        template_identity,
        appro_url,
        template_content
    </sql>

    <update id="updateTemplateBatch">
        <foreach collection="cacheList" item="item" separator=";">
            update
                rdp_appro_template
            set
                template_name = #{item.templateName}
            where
                template_identity = #{item.templateIdentity}
        </foreach>
    </update>

    <update id="updateDmTicketInsTemplateBatch">
        <foreach collection="cacheList" item="item" separator=";">
            update
                rdp_ticket_inst
            set
                appro_template_name = #{item.templateName}
            where
                appro_template_identity = #{item.templateIdentity}
        </foreach>
    </update>

    <select id="listByPrimaryUid" resultMap="cacheApproTemplateDO">
        SELECT
            <include refid="cacheAppro_allColumns"/>
        FROM
            rdp_cache_appro_template
        WHERE
            primary_uid = #{primaryUid}
    </select>

    <select id="queryByUidAndTemId" resultMap="cacheApproTemplateDO">
        select
            <include refid="cacheAppro_allColumns"/>
        from rdp_cache_appro_template
        where primary_uid = #{primaryUid}
        and template_identity = #{templateId}
    </select>
    <select id="listByPrimaryUidAndType" resultMap="cacheApproTemplateDO">
        SELECT
            <include refid="cacheAppro_allColumns"/>
        FROM
            rdp_cache_appro_template
        WHERE
            primary_uid = #{primaryUid}
            and approval_type = #{type, typeHandler=com.clougence.clouddm.console.web.dal.handler.RdpApprovalTypeHandler}
    </select>

    <delete id="deleteByPrimaryUid">
        DELETE
        FROM rdp_cache_appro_template
        WHERE primary_uid = #{primaryUid}
        AND approval_type = #{approvalType, typeHandler=com.clougence.clouddm.console.web.dal.handler.RdpApprovalTypeHandler}
    </delete>

    <insert id="insertTemplateBatch">
        insert into rdp_cache_appro_template
            (primary_uid, approval_type, template_name, template_identity, appro_url)
        values
        <foreach collection="cacheList" item="item" separator=",">
            (
                #{item.primaryUid},
                #{item.approvalType, typeHandler=com.clougence.clouddm.console.web.dal.handler.RdpApprovalTypeHandler},
                #{item.templateName},
                #{item.templateIdentity},
                #{item.approUrl}
            )
        </foreach>
    </insert>
</mapper>