<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.console.web.dal.mapper.RdpDsUsageMapper">

    <resultMap id="rdpDsUsageDO" type="com.clougence.clouddm.console.web.dal.model.RdpDsUsageDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="ds_id" property="dsId"/>
        <result column="res_type" property="resType"
                javaType="com.clougence.clouddm.base.metadata.rdp.enumeration.ResourceType"/>
        <result column="res_id" property="resId"/>
        <result column="res_instance_id" property="resInstanceId"/>
        <result column="endpoint" property="endpoint" javaType="com.clougence.clouddm.base.metadata.rdp.enumeration.DsUsageEndpoint"/>
    </resultMap>

    <sql id="rdpDsUsage">
        id
        ,
        gmt_create,
        gmt_modified,
        ds_id,
        res_type,
        res_id,
        res_instance_id,
        endpoint
    </sql>

    <select id="listByDsId" resultMap="rdpDsUsageDO">
        SELECT
        <include refid="rdpDsUsage"/>
        FROM
        rdp_ds_usage
        WHERE
        ds_id = #{dsId}
    </select>

    <select id="listByRes" resultMap="rdpDsUsageDO">
        SELECT
        <include refid="rdpDsUsage"/>
        FROM
        rdp_ds_usage
        WHERE
        ds_id = #{dsId}
        AND res_id = #{resId}
        AND res_type = #{resType,javaType=com.clougence.clouddm.base.metadata.rdp.enumeration.ResourceType}
        AND res_instance_id = #{resInstanceId}
        AND endpoint = #{endpoint,javaType=com.clougence.clouddm.base.metadata.rdp.enumeration.DsUsageEndpoint}
    </select>

    <delete id="deleteByRes">
        DELETE
        FROM rdp_ds_usage
        WHERE ds_id = #{dsId}
          AND res_id = #{resId}
          AND res_type = #{resType,javaType=com.clougence.clouddm.base.metadata.rdp.enumeration.ResourceType}
          AND res_instance_id = #{resInstanceId}
          AND endpoint = #{endpoint,javaType=com.clougence.clouddm.base.metadata.rdp.enumeration.DsUsageEndpoint}
    </delete>
</mapper>
