<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.console.web.dal.mapper.RdpTicketProcessMapper">
    <resultMap id="ticketProcessDO" type="com.clougence.clouddm.console.web.dal.model.RdpTicketProcessDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="ticket_id" property="ticketId"/>
        <result column="ticket_stage" property="ticketStage" javaType="com.clougence.clouddm.console.web.dal.enumeration.RdpTicketStage"/>
        <result column="finish_time" property="finishTime"/>
        <result column="stage_context" property="stageContext"/>
        <result column="process_status" property="processStatus" javaType="com.clougence.clouddm.console.web.dal.enumeration.RdpTicketProcessStatus"/>
    </resultMap>

    <sql id="all_col">
        id,
        gmt_create,
        gmt_modified,
        ticket_id,
        ticket_stage,
        finish_time,
        stage_context,
        process_status
    </sql>

    <select id="queryByStage" resultMap="ticketProcessDO">
        SELECT
            <include refid="all_col"/>
        FROM
            rdp_ticket_process
        WHERE
            ticket_id    = #{ticketId} and
            ticket_stage = #{ticketStage,javaType=com.clougence.clouddm.console.web.dal.enumeration.RdpTicketStage} and
            deleted      = false
    </select>

    <select id="listByTicketId" resultMap="ticketProcessDO">
        SELECT
            <include refid="all_col"/>
        FROM
            rdp_ticket_process
        WHERE
            ticket_id = #{ticketId} and
            deleted   = false
        order by id;
    </select>

    <update id="logicDeleteByIds">
        update
            rdp_ticket_process
        set
            deleted=true
        WHERE
            id IN <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </update>

    <update id="updateContextById">
        update
            rdp_ticket_process
        set
            stage_context=#{context}
        WHERE
            id = #{id}
    </update>
    <update id="updateModified">
        update
            rdp_ticket_process
        set
            gmt_modified = now()
        where
            id = #{id}
    </update>
    <update id="updateNotEndProcessByTicketId">
        update
            rdp_ticket_process
        set
            process_status = #{status}
        where ticket_id = #{ticketId}
        and process_status = 'INIT'
    </update>
    <update id="updateProcessStatusByTicketIdAndStage">
        update
            rdp_ticket_process
        set
            process_status = #{status}
        where ticket_id = #{ticketId}
          and ticket_stage = #{stage,javaType=com.clougence.clouddm.console.web.dal.enumeration.RdpTicketStage}
    </update>
    <update id="updateProcessStatus">
        update
            rdp_ticket_process
        set
            process_status = #{status},stage_context = #{context}
            <if test="status == 'REJECT' || status == 'FINISH' || status == 'CLOSED' || status == 'FAIL'">,finish_time = now()</if>
        where id = #{id}
    </update>
</mapper>
