<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.execution.DmExecFileMapper">
    <resultMap id="dmFileDO" type="com.clougence.clouddm.platform.dal.model.execution.DmExecFileDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="user_id" property="userId"/>
        <result column="file_uri" property="fileUri"/>
        <result column="file_format" property="fileFormat"/>
        <result column="inner_format" property="innerFormat"/>
        <result column="status" property="status" javaType="com.clougence.clouddm.platform.dal.model.execution.FileStatus"/>
        <result column="message" property="message"/>
        <result column="unique_id" property="uniqueId"/>
        <result column="query_id" property="queryId"/>
        <result column="heartbeat" property="heartbeat"/>
        <result column="try_count" property="tryCount"/>
    </resultMap>

    <sql id="sqlDmFileDO">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        user_id,
        file_uri,
        file_format,
        inner_format,
        status,
        message,
        unique_id,
        query_id,
        heartbeat
    </sql>

    <select id="queryFileByUniqueId" resultMap="dmFileDO">
        SELECT
            <include refid="sqlDmFileDO"/>
        FROM
            dm_exec_file
        WHERE
            unique_id = #{uniqueId}
    </select>

    <update id="updateStatusByUniqueId">
        update
            dm_exec_file
        set
            status      = #{toStatus, javaType=com.clougence.clouddm.platform.dal.model.execution.FileStatus},
            message       = #{message},
            heartbeat    = now(),
            gmt_modified = now(),
            try_count    = 0
        where
            unique_id    = #{uniqueId}
    </update>

    <update id="updateStatusByQueryId">
        update
            dm_exec_file
        set
            status       = #{toStatus, javaType=com.clougence.clouddm.platform.dal.model.execution.FileStatus},
            message      = #{message},
            heartbeat    = now(),
            gmt_modified = now(),
            try_count    = 0
        where
            query_id     = #{queryId}
    </update>

    <select id="queryByAfterHeartbeatTime" resultMap="dmFileDO">
        SELECT
            <include refid="sqlDmFileDO"/>
        FROM
            dm_exec_file
        WHERE
            heartbeat &lt; #{point}
        order by
            heartbeat asc
        limit
            #{limit}
    </select>

    <update id="updateAccessTimeByUniqueId">
        update
            dm_exec_file
        set
            heartbeat    = now(),
            gmt_modified = now(),
            try_count    = 0
            <if test="message !=null">, message = #{message}</if>
        where
            unique_id = #{uniqueId}
    </update>

    <update id="updateHeartbeatByUniqueId">
        update
            dm_exec_file
        set
            heartbeat = now(),
            try_count = 0
        where
            unique_id = #{uniqueId}
    </update>

    <update id="incrementTryCountByUniqueId">
        update
            dm_exec_file
        set
            heartbeat = now(),
            try_count = try_count + 1
            <if test="message !=null">, message = #{message}</if>
        where
            unique_id = #{uniqueId}
    </update>

    <delete id="deleteFileByUniqueId">
        delete from
            dm_exec_file
        where
            unique_id = #{uniqueId}
    </delete>

    <update id="markFileDeletedByUniqueId">
        update
            dm_exec_file
        set
            heartbeat = now(),
            status    = 'Delete'
        where
            unique_id = #{uniqueId}
    </update>
</mapper>
