<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.auth.DmAuthVerifyMapper">

    <resultMap id="rdpVerifyDO" type="com.clougence.clouddm.platform.dal.model.auth.DmAuthVerifyDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="account_type" property="accountType"/>
        <result column="uid" property="uid"/>
        <result column="verify_type" property="verifyType"
                javaType="com.clougence.clouddm.platform.dal.model.auth.VerifyType"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="verify_code_type" property="verifyCodeType"/>
        <result column="verify_code_send_time" property="verifyCodeSendTime"/>
        <result column="fail_times" property="failTimes"/>
        <result column="last_fail_date" property="lastFailDate"/>
    </resultMap>

    <sql id="rdpVerify">
        id,
        gmt_create,
        gmt_modified,
        account_type,
        uid,
        verify_type,
        email,
        phone,
        verify_code,
        verify_code_type,
        verify_code_send_time,
        fail_times,
        last_fail_date
    </sql>

    <select id="queryByUid" resultMap="rdpVerifyDO">
        SELECT
            <include refid="rdpVerify"/>
        FROM
            dm_auth_verify
        WHERE
            uid = #{uid}
    </select>

    <select id="queryByUidAndType" resultMap="rdpVerifyDO">
        SELECT
            <include refid="rdpVerify"/>
        FROM
            dm_auth_verify
        WHERE
            verify_type = #{verifyType,javaType=com.clougence.clouddm.platform.dal.model.auth.VerifyType}
            AND
            verify_code_type=#{verifyCodeType}
            AND
            uid = #{uid}
    </select>

    <select id="queryByPrimaryEmail" resultMap="rdpVerifyDO">
        SELECT
            <include refid="rdpVerify"/>
        FROM
            dm_auth_verify
        WHERE
            verify_type = #{verifyType,javaType=com.clougence.clouddm.platform.dal.model.auth.VerifyType}
            AND
            verify_code_type=#{verifyCodeType}
            AND
            email=#{email}
            AND
            account_type='PRIMARY_ACCOUNT'
    </select>

    <select id="queryByPrimaryPhone" resultMap="rdpVerifyDO">
        SELECT
            <include refid="rdpVerify"/>
        FROM
            dm_auth_verify
        WHERE
            verify_type = #{verifyType,javaType=com.clougence.clouddm.platform.dal.model.auth.VerifyType}
        AND
            verify_code_type=#{verifyCodeType}
        AND
            phone=#{phone}
        AND
            account_type='PRIMARY_ACCOUNT'
    </select>

    <update id="updateFailTimesAndDateById">
        UPDATE
            dm_auth_verify
        SET
            <if test="failTimes != null">
                fail_times = #{failTimes},
            </if>
            last_fail_date = #{failDate},
            gmt_modified   = now()
        WHERE
            id = #{id}
    </update>

    <update id="updateVerifyCodeAndSendTime">
        UPDATE
            dm_auth_verify
        SET
            <if test="verifyCode != null">
                verify_code       = #{verifyCode},
            </if>
            verify_code_send_time = #{sendTime},
            gmt_modified          = now()
        WHERE
            id = #{id}
    </update>

    <delete id="deleteByUid">
        DELETE FROM
            dm_auth_verify
        WHERE
            uid = #{uid}
    </delete>

    <delete id="deleteOldData">
        DELETE FROM
            dm_auth_verify
        WHERE
            gmt_modified &lt;= #{beforeThisTime}
    </delete>

    <update id="updatePhoneOrEmailByUid">
        UPDATE
            dm_auth_verify
        SET
        <if test="phone != null">
            phone = #{phone}
        </if>
        <if test="email != null">
            email = #{email}
        </if>
        WHERE
        uid = #{uid}
        AND
        verify_type = #{verifyType,javaType=com.clougence.clouddm.platform.dal.model.auth.VerifyType}
        AND
        verify_code_type=#{verifyCodeType}
    </update>

</mapper>
