<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.project.DmProjectDevopsMapper">
    <resultMap id="dmProjectDevopsDO" type="com.clougence.clouddm.platform.dal.model.project.DmProjectDevopsDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="ref_project_id" property="refProjectId"/>
        <result column="ref_scm_id" property="refScmId"/>
        <result column="ref_scm_type" property="refScmType"/>
        <result column="scm_repo_space" property="scmRepoSpace"/>
        <result column="scm_repo_name" property="scmRepoName"/>
        <result column="scm_repo_url" property="scmRepoUrl"/>
        <result column="scm_repo_branch" property="scmRepoBranch"/>
        <result column="scm_repo_event" property="scmRepoEvent" javaType="com.clougence.clouddm.sdk.scm.ScmEventType"/>
        <result column="scm_repo_script" property="scmRepoScript"/>
        <result column="scm_repo_hook_pwd" property="scmBindWebhookPwd"/>
        <result column="enable_hook" property="enableWebhook"/>
        <result column="ds_id" property="dsId"/>
        <result column="ds_type" property="dsType" javaType="com.clougence.clouddm.base.metadata.ds.DataSourceType"/>
        <result column="ds_instance" property="dsInstance"/>
        <result column="ds_desc" property="dsDesc"/>
        <result column="ds_path" property="dsPath"/>
        <result column="devops_options" property="options" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="devops_hashcode" property="devopsHashcode"/>
        <result column="callback_url" property="callbackUrl"/>
        <result column="callback_method" property="callbackMethod"/>
        <result column="enable_callback" property="enableCallback"/>
        <result column="enable_trigger" property="enableTrigger"/>
        <result column="trigger_token" property="triggerToken"/>
        <result column="enable" property="enable"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="dmProjectDevopsDO_select">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        ref_project_id,
        ref_scm_id,
        ref_scm_type,
        scm_repo_space,
        scm_repo_name,
        scm_repo_url,
        scm_repo_branch,
        scm_repo_event,
        scm_repo_script,
        scm_repo_hook_pwd,
        enable_hook,
        ds_id,
        ds_type,
        ds_instance,
        ds_desc,
        ds_path,
        devops_options,
        devops_hashcode,
        callback_url,
        callback_method,
        enable_callback,
        enable_trigger,
        trigger_token,
        enable,
        deleted
    </sql>

    <select id="queryByIds" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid  = #{ownerUid}  and
            id        in <foreach collection="devopsIds" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>

    <select id="queryEnableByOwnerAndDsId" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid = #{ownerUid} and
            ds_id     = #{dsId}     and
            enable    = 1           and
            deleted   = 0
        order by
            gmt_create asc
    </select>

    <select id="queryEnableByOwnerAndScmId" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid = #{ownerUid} and
            ref_scm_id= #{scmId}    and
            enable    = 1           and
            deleted   = 0
        order by
            gmt_create asc
    </select>

    <select id="queryEnableByOwnerAndScmHash" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid      = #{ownerUid} and
            enable         = 1           and
            deleted        = 0           and
            devops_hashcode= #{scmHash}
        order by
            gmt_create asc
    </select>

    <select id="queryAllDevopsByProjectId" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid     = #{ownerUid}  and
            ref_project_id= #{projectId} and
            deleted   = 0
        order by
            gmt_create asc
    </select>

    <select id="queryByOwnerAndId" resultMap="dmProjectDevopsDO">
        select
            <include refid="dmProjectDevopsDO_select"/>
        from
            dm_project_devops
        where
            owner_uid = #{ownerUid} and
            id        = #{devopsId}
        limit 1
    </select>

    <update id="disableByOwnerAndScmId">
        update
            dm_project_devops
        set
            enable       = 0,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid} and
            ref_scm_id     = #{scmId}    and
            deleted        = 0
    </update>

    <update id="deleteByOwnerAndProjectAndId">
        update
            dm_project_devops
        set
            deleted      = 1,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId}  and
            deleted        = 0
    </update>

    <update id="enableDevopsByProjectAndId">
        update
            dm_project_devops
        set
            enable       = 1,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="disableDevopsByProjectAndId">
        update
            dm_project_devops
        set
            enable       = 0,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="enableWebHookByProjectAndId">
        update
            dm_project_devops
        set
            enable_hook  = 1,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="disableWebHookByProjectAndId">
        update
            dm_project_devops
        set
            enable_hook  = 0,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="enableTriggerByProjectAndId">
        update
            dm_project_devops
        set
            enable_trigger = 1,
            gmt_modified   = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="disableTriggerByProjectAndId">
        update
            dm_project_devops
        set
            enable_trigger = 0,
            gmt_modified   = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="configCallBackByProjectAndId">
        update
            dm_project_devops
        set
            callback_method = #{httpMethod},
            callback_url    = #{httpUrl},
            enable_callback = #{enable},
            gmt_modified    = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="configTriggerByProjectAndId">
        update
            dm_project_devops
        set
            trigger_token  = #{token},
            enable_trigger = #{enable},
            gmt_modified   = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            id             = #{devopsId} and
            deleted        = 0
    </update>

    <update id="disableAllDevopsByProjectId">
        update
            dm_project_devops
        set
            enable       = 0,
            gmt_modified = now()
        where
            owner_uid      = #{ownerUid}  and
            ref_project_id = #{projectId} and
            deleted        = 0
    </update>
</mapper>
