<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.secrule.DmSecRefererMapper">

    <resultMap id="dmSecRefererDO" type="com.clougence.clouddm.platform.dal.model.secrule.DmSecRefererDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="enable" property="enable"/>
        <result column="ref_rule" property="refRule"/>
        <result column="ref_spec" property="refSpec"/>
        <result column="ref_kind" property="refRuleKind" javaType="com.clougence.clouddm.platform.dal.model.secrule.RuleKind"/>
        <result column="ref_md5" property="refMD5"/>
        <result column="rule_param" property="ruleParam" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="warn_level" property="warnLevel" javaType="com.clougence.clouddm.platform.dal.model.secrule.WarnLevel"/>
        <result column="sen_mode" property="senMode" javaType="com.clougence.clouddm.platform.dal.model.secrule.RuleSensitiveMode"/>
    </resultMap>

    <sql id="allColumns">
        id,
        gmt_create,
        gmt_modified,
        owner_uid,
        enable,
        ref_rule,
        ref_spec,
        ref_kind,
        rule_param,
        ref_md5,
        warn_level,
        sen_mode
    </sql>

    <select id="fixListAllRuleIdEmpty" resultMap="dmSecRefererDO">
        SELECT * FROM dm_sec_referer where ref_rule_id is null
    </select>

    <update id="fixUpdateRuleId">
        update
            dm_sec_referer
        set
            ref_rule_id = #{ruleId},
            gmt_modified= now()
        where
            id  = #{id}
        limit 1
    </update>

    <select id="listBySpecId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_spec  = #{refSpecId} and
            owner_uid = #{ownerUid}
    </select>

    <select id="listBySpecAndKind" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_spec  = #{refSpecId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}  and
            owner_uid = #{ownerUid}
    </select>

    <select id="listByRuleId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            ref_rule  = #{refRuleOrSenId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </select>

    <select id="listAllByRuleId" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            ref_rule  = #{refRuleOrSenId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </select>

    <select id="queryBySpecAndRuleOrSen" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            ref_spec  = #{refSpecId} and
            ref_rule  = #{refRuleOrSenId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
        limit 1
    </select>

    <select id="queryById" resultMap="dmSecRefererDO">
        SELECT
            <include refid="allColumns"/>
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            id        = #{refId}
    </select>

    <delete id="deleteBySpecId">
        DELETE
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            ref_spec = #{refSpecId}
    </delete>

    <delete id="deleteById">
        DELETE
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            id        = #{refId}
    </delete>

    <delete id="deleteByRuleId">
        DELETE
        FROM
            dm_sec_referer
        WHERE
            owner_uid = #{ownerUid} and
            ref_rule  = #{refRuleOrSenId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </delete>

    <update id="updateRuleReferer">
        update
            dm_sec_referer
        set
            enable      = #{refererDO.enable},
            warn_level  = #{refererDO.warnLevel, javaType=com.clougence.clouddm.platform.dal.model.secrule.WarnLevel},
            sen_mode    = #{refererDO.senMode, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleSensitiveMode},

            rule_param  = #{refererDO.ruleParam, typeHandler =com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            ref_md5     = #{refererDO.refMD5},
            gmt_modified= now()
        where
            owner_uid = #{ownerUid} and id = #{refId}
        limit 1
    </update>

    <update id="markDeprecatedByRefId">
        update
            dm_sec_referer
        set
            enable      = 0,
            gmt_modified= now()
        where
            ref_rule  = #{refRuleOrSenId} and
            ref_kind  = #{ruleKind, javaType=com.clougence.clouddm.platform.dal.model.secrule.RuleKind}
    </update>
</mapper>