@font-face {
  font-family: "iconfont"; /* Project id 4347388 */
  src: url('iconfont.woff2?t=1760596887161') format('woff2'),
       url('iconfont.woff?t=1760596887161') format('woff'),
       url('iconfont.ttf?t=1760596887161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg-DBLINK:before {
  content: "\e64f";
}

.icon-svg-JOB:before {
  content: "\e64d";
}

.icon-svg-SCHEDULE_JOB:before {
  content: "\e64e";
}

.icon-svg-ObForOracle:before {
  content: "\e64c";
}

.icon-svg-RDB_FOREIGN-FOREIGN:before {
  content: "\e64b";
}

.icon-svg-RDB_CONSTRAINT-CHECK-UNIQUE:before {
  content: "\e662";
}

.icon-svg-EXTERNAL_TABLE:before {
  content: "\e648";
}

.icon-svg-ROLE:before {
  content: "\e8c9";
}

.icon-svg-TABLESPACE:before {
  content: "\e645";
}

.icon-svg-USER:before {
  content: "\e682";
}

.icon-svg-ds-disconnect:before {
  content: "\e647";
}

.icon-svg-PolarDbX:before {
  content: "\e644";
}

.icon-svg-FUNC-PARAM-copy:before {
  content: "\e96c";
}

.icon-svg-FUNC-RETURN:before {
  content: "\e642";
}

.icon-svg-PROC-PARAM:before {
  content: "\e643";
}

.icon-svg-MATERIALIZED:before {
  content: "\e63c";
}

.icon-svg-SEQUENCE:before {
  content: "\e63f";
}

.icon-svg-SYNONYM:before {
  content: "\e63e";
}

.icon-svg-PROC:before {
  content: "\e61e";
}

.icon-svg-TRIGGER:before {
  content: "\e826";
}

.icon-svg-refresh:before {
  content: "\e6bb";
}

.icon-svg-focus:before {
  content: "\e725";
}

.icon-svg-VIEW:before {
  content: "\e60a";
}

.icon-svg-FUNC:before {
  content: "\e634";
}

.icon-svg-TABLE:before {
  content: "\e636";
}

.icon-svg-CATALOG:before {
  content: "\e639";
}

.icon-svg-SCHEMA:before {
  content: "\e63b";
}

.icon-svg-COLUMN-OBJECT-IDX:before {
  content: "\e62c";
}

.icon-svg-COLUMN-OBJECT:before {
  content: "\e62d";
}

.icon-svg-COLUMN-ARRAY-IDX:before {
  content: "\e630";
}

.icon-svg-COLUMN-ARRAY:before {
  content: "\e631";
}

.icon-svg-COLUMN-BIN:before {
  content: "\e614";
}

.icon-svg-COLUMN-DEFAULT:before {
  content: "\e624";
}

.icon-svg-COLUMN-DAT:before {
  content: "\e649";
}

.icon-svg-COLUMN-TXT:before {
  content: "\e64a";
}

.icon-svg-COLUMN-NUM:before {
  content: "\e63d";
}

.icon-svg-COLUMN-BOOL:before {
  content: "\e640";
}

.icon-svg-COLUMN-GEO:before {
  content: "\e641";
}

.icon-svg-COLUMN-DEFAULT-IDX:before {
  content: "\e646";
}

.icon-svg-COLUMN-DAT-IDX:before {
  content: "\e62f";
}

.icon-svg-COLUMN-TXT-IDX:before {
  content: "\e632";
}

.icon-svg-COLUMN-GEO-IDX:before {
  content: "\e635";
}

.icon-svg-COLUMN-BIN-IDX:before {
  content: "\e637";
}

.icon-svg-COLUMN-BOOL-IDX:before {
  content: "\e638";
}

.icon-svg-COLUMN-NUM-IDX:before {
  content: "\e63a";
}

.icon-svg-RDB_INDEX-FK2:before {
  content: "\e629";
}

.icon-svg-RDB_INDEX-UK2:before {
  content: "\e62a";
}

.icon-svg-RDB_INDEX2:before {
  content: "\e62b";
}

.icon-svg-RDB_INDEX-FK:before {
  content: "\e626";
}

.icon-svg-RDB_PRIMARY:before {
  content: "\e627";
}

.icon-svg-RDB_INDEX-UK:before {
  content: "\e628";
}

.icon-svg-COLUMN-FK:before {
  content: "\e620";
}

.icon-svg-COLUMN-UK:before {
  content: "\e622";
}

.icon-svg-COLUMN-PK:before {
  content: "\e623";
}

.icon-svg-MENU_BROWSE_CATALOG_RENAME:before {
  content: "\e964";
}

.icon-svg-MENU_BROWSE_SCHEMA_RENAME:before {
  content: "\e965";
}

.icon-svg-MENU_BROWSE_TABLE_RENAME:before {
  content: "\e966";
}

.icon-svg-MENU_BROWSE_VIEW_RENAME:before {
  content: "\e967";
}

.icon-svg-MENU_BROWSE_COLUMN_RENAME:before {
  content: "\e968";
}

.icon-svg-MENU_BROWSE_PRIMARY_RENAME:before {
  content: "\e969";
}

.icon-svg-MENU_BROWSE_INDEX_RENAME:before {
  content: "\e96a";
}

.icon-svg-MENU_BROWSE_KEY_RENAME:before {
  content: "\e96b";
}

.icon-svg-MENU_BROWSE_INSTANCE_RENAME:before {
  content: "\e669";
}

.icon-svg-MENU_BROWSE_COPY_NAME:before {
  content: "\e621";
}

.icon-svg-MENU_BROWSE_INSTANCE_DROP:before {
  content: "\e61f";
}

.icon-svg-MENU_BROWSE_CATALOG_DROP:before {
  content: "\e951";
}

.icon-svg-MENU_BROWSE_MATERIALIZED_DROP:before {
  content: "\e96d";
}

.icon-svg-MENU_BROWSE_SCHEMA_DROP:before {
  content: "\e952";
}

.icon-svg-MENU_BROWSE_TABLE_DROP:before {
  content: "\e953";
}

.icon-svg-MENU_BROWSE_VIEW_DROP:before {
  content: "\e954";
}

.icon-svg-MENU_BROWSE_COLUMN_DROP:before {
  content: "\e955";
}

.icon-svg-MENU_BROWSE_PRIMARY_DROP:before {
  content: "\e956";
}

.icon-svg-MENU_BROWSE_INDEX_DROP:before {
  content: "\e957";
}

.icon-svg-MENU_BROWSE_PARTITION_DROP:before {
  content: "\e958";
}

.icon-svg-MENU_BROWSE_KEY_DROP:before {
  content: "\e959";
}

.icon-svg-MENU_BROWSE_CATALOG_REFRESH:before {
  content: "\e95a";
}

.icon-svg-MENU_BROWSE_INSTANCE_REFRESH:before {
  content: "\e95b";
}

.icon-svg-MENU_BROWSE_SCHEMA_REFRESH:before {
  content: "\e95c";
}

.icon-svg-MENU_BROWSE_TABLE_REFRESH:before {
  content: "\e95d";
}

.icon-svg-MENU_BROWSE_VIEW_REFRESH:before {
  content: "\e95e";
}

.icon-svg-MENU_BROWSE_COLUMN_REFRESH:before {
  content: "\e95f";
}

.icon-svg-MENU_BROWSE_PRIMARY_REFRESH:before {
  content: "\e960";
}

.icon-svg-MENU_BROWSE_INDEX_REFRESH:before {
  content: "\e961";
}

.icon-svg-MENU_BROWSE_PARTITION_REFRESH:before {
  content: "\e962";
}

.icon-svg-MENU_BROWSE_KEY_REFRESH:before {
  content: "\e963";
}

.icon-svg-MENU_BROWSE_REFRESH:before {
  content: "\e61d";
}

.icon-svg-AdbForMySQL:before {
  content: "\e600";
}

.icon-svg-AdbForPg:before {
  content: "\e61a";
}

.icon-svg-PolarDBPg:before {
  content: "\e61b";
}

.icon-svg-PolarDbMySQL:before {
  content: "\e61c";
}

.icon-svg-RocketMQ:before {
  content: "\e619";
}

.icon-svg-RabbitMQ:before {
  content: "\e618";
}

.icon-svg-SelectDB:before {
  content: "\e7b9";
}

.icon-svg-ElasticSearch:before {
  content: "\e604";
}

.icon-svg-Azure:before {
  content: "\e616";
}

.icon-svg-Athena:before {
  content: "\e617";
}

.icon-svg-ClickHouse:before {
  content: "\e601";
}

.icon-svg-MongoDB:before {
  content: "\e602";
}

.icon-svg-Oracle:before {
  content: "\e605";
}

.icon-svg-Hana:before {
  content: "\e606";
}

.icon-svg-MariaDB:before {
  content: "\e607";
}

.icon-svg-TiDB:before {
  content: "\e608";
}

.icon-svg-Redshift:before {
  content: "\e609";
}

.icon-svg-Db2:before {
  content: "\e60b";
}

.icon-svg-Hive:before {
  content: "\e60c";
}

.icon-svg-Presto:before {
  content: "\e60e";
}

.icon-svg-Kafka:before {
  content: "\e60f";
}

.icon-svg-MySQL:before {
  content: "\e610";
}

.icon-svg-Redis:before {
  content: "\e611";
}

.icon-svg-Snowflake:before {
  content: "\e612";
}

.icon-svg-PostgreSQL:before {
  content: "\e613";
}

.icon-svg-SQLServer:before {
  content: "\e615";
}

.icon-svg-KEY:before {
  content: "\e633";
}

.icon-svg-folder:before {
  content: "\e653";
}

.icon-svg-data:before {
  content: "\e62e";
}

.icon-svg-struct:before {
  content: "\e625";
}

.icon-svg-ENV:before {
  content: "\e60d";
}

.icon-svg-Dameng:before {
  content: "\e603";
}

.icon-svg-OceanBase:before {
  content: "\e94d";
}

.icon-svg-StarRocks:before {
  content: "\e950";
}

.icon-svg-Doris:before {
  content: "\e78a";
}

.icon-svg-Greenplum:before {
  content: "\e69a";
}

