.primary-10 {
  color: #003042;
}

.primary-9 {
  color: #004459;
}

.primary-8 {
  color: #006e89;
}

.primary-7 {
  color: #01a3c4;
}

.primary-6 {
  color: #00c1de;
}

.primary-5 {
  color: #33cde5;
}

.primary-4 {
  color: #66daeb;
}

.primary-3 {
  color: #99e6f2;
}

.primary-2 {
  color: #ccf3f8;
}

.primary-1 {
  color: #e5f8fb;
}

.grey-10 {
  color: #10121a;
}

.grey-9 {
  color: #1e202d;
}

.grey-8 {
  color: #2c2f40;
}

.grey-7 {
  color: #3a3d51;
}

.grey-6 {
  color: #5c607a;
}

.grey-5 {
  color: #9ca1ba;
}

.grey-4 {
  color: #cfd3e6;
}

.grey-3 {
  color: #e4e6f2;
}

.grey-2 {
  color: #edeff7;
}

.grey-1 {
  color: #062d0a;
}

.green-10 {
  color: #0d5413;
}

.green-9 {
  color: #0d5413;
}

.green-8 {
  color: #177a1c;
}

.green-7 {
  color: #27a02a;
}

.green-6 {
  color: #35b534;
}

.green-5 {
  color: #56c750;
}

.green-4 {
  color: #80dc78;
}

.green-3 {
  color: #a5eb9c;
}

.green-2 {
  color: #dcfad5;
}

.green-1 {
  color: #f3ffef;
}

.gold-10 {
  color: #421b03;
}

.gold-9 {
  color: #682f04;
}

.gold-8 {
  color: #ad5c04;
}

.gold-7 {
  color: #f39502;
}

.gold-6 {
  color: #ffb21d;
}

.gold-5 {
  color: #ffc145;
}

.gold-4 {
  color: #ffd772;
}

.gold-3 {
  color: #ffe5a3;
}

.gold-2 {
  color: #fff1c6;
}

.gold-1 {
  color: #fffcf9;
}

.red-10 {
  color: #340408;
}

.red-9 {
  color: #611014;
}

.red-8 {
  color: #9a2123;
}

.red-7 {
  color: #d63232;
}

.red-6 {
  color: #ff3d3d;
}

.red-5 {
  color: #ff6b66;
}

.red-4 {
  color: #ff8c8c;
}

.red-3 {
  color: #ffbfb8;
}

.red-2 {
  color: #ffdede;
}

.red-1 {
  color: #fff1f1;
}

.purple-10 {
  color: #35236d;
}

.purple-9 {
  color: #241a4d;
}

.purple-8 {
  color: #5233a6;
}

.purple-7 {
  color: #6f43df;
}

.purple-6 {
  color: #804cff;
}

.purple-5 {
  color: #9a71ff;
}

.purple-4 {
  color: #b394ff;
}

.purple-3 {
  color: #d2bfff;
}

.purple-2 {
  color: #e6dcff;
}

.purple-1 {
  color: #f8f5ff;
}

.blue-10 {
  color: #002347;
}

.blue-9 {
  color: #003470;
}

.blue-8 {
  color: #0859c1;
}

.blue-7 {
  color: #076abe;
}

.blue-6 {
  color: #0076ff;
}

.blue-5 {
  color: #1e8bff;
}

.blue-4 {
  color: #6ab1ff;
}

.blue-3 {
  color: #acd3ff;
}

.blue-2 {
  color: #c5e2ff;
}

.blue-1 {
  color: #f1f8ff;
}

.error {
  color: #ff3d3d;
}

.warning {
  color: #ffb21d;
}

.success {
  color: #35b534;
}

.primary {
  color: #00c1de;
}

.dark-text-1 {
  color: #ffffff;
}

.dark-text-2 {
  color: #edeff7;
}

.dark-text-3 {
  color: #9ca1ba;
}

.dark-text-4 {
  color: #5c607a;
}

.light-text-1 {
  color: #1e202d;
}

.light-text-2 {
  color: #5c607a;
}

.light-text-3 {
  color: #9ca1ba;
}

.light-text-4 {
  color: #cfd3e6;
}

.dark-split-1 {
  color: #9ca1ba;
}

.dark-split-2 {
  color: #5c607a;
}

.dark-split-3 {
  color: #3a3d51;
}

.dark-split-4 {
  color: #2c2f40;
}

.light-split-1 {
  color: #5c607a;
}

.light-split-1 {
  color: #9ca1ba;
}

.light-split-1 {
  color: #cfd3e6;
}

.light-split-1 {
  color: #e4e6f2;
}

.common-header-background {
  background-color: #10121a;
}

.dark-background-1 {
  background-color: #10121a;
}

.dark-background-2 {
  background-color: #1e202d;
}

.dark-background-3 {
  background-color: #2c2f40;
}

.light-background-1 {
  background-color: #ffffff;
}

.light-background-2 {
  background-color: #f8f8fa;
}

body {
  font-size: 14px !important;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial;
}

.web-font12 {
  font-size: 14px;
  line-height: 16px;
}

.web-font14 {
  font-size: 16px;
  line-height: 18px;
}

.web-font16 {
  font-size: 18px;
  line-height: 26px;
}

.web-font20 {
  font-size: 22px;
  line-height: 20px;
}

.web-font24 {
  font-size: 26px;
  line-height: 34px;
}

.web-font32 {
  font-size: 34px;
  line-height: 42px;
}

.web-font32 {
  font-size: 42px;
  line-height: 50px;
}

.product-font12-1 {
  font-size: 14px;
  line-height: 20px;
}

.product-font12-2 {
  font-size: 14px;
  line-height: 16px;
}

.product-font14 {
  font-size: 16px;
  line-height: 28px;
}

.product-font16 {
  font-size: 16px;
  line-height: 24px;
}

.product-font14 {
  font-size: 20px;
  line-height: 28px;
}

//-------------------------iview样式改造--------------------------------
.ivu-menu {
  font-size: 12px !important;
}

.ivu-menu-item {
  font-size: 12px !important;
}

.ivu-card {
  font-size: 12px !important;
  border-radius: 0 !important;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
  //padding: 12px 24px!important;
}

.ivu-input {
  border-radius: 0 !important;
  font-size: 12px !important;
}

.ivu-select-selection {
  border-radius: 0 !important;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value,
.ivu-select-single,
.ivu-select-input {
  font-size: 12px !important;
}

.ivu-select-item {
  font-size: 12px !important;
}

.ivu-radio-group-button .ivu-radio-wrapper {
  font-size: 12px !important;
  padding: 0 12px !important;
}

.ivu-radio-group-button .ivu-radio-wrapper:first-child {
  border-radius: 0 !important;
}

.ivu-radio-group-button .ivu-radio-wrapper:last-child {
  border-radius: 0 !important;
}

.ivu-btn {
  border-radius: 0 !important;
  font-size: 12px !important;
}

.ivu-form .ivu-form-item-label {
  font-size: 12px !important;
  padding: 10px 0 10px 0 !important;
  font-weight: 500;
}

.ivu-form-item-content {
  font-size: 12px !important;
}

//.ivu-steps .ivu-steps-title{
//  font-size: 12px!important;
//}
//.ivu-steps .ivu-steps-head-inner{
//  font-size: 12px!important;
//}
.ivu-steps .ivu-steps-head-inner > .ivu-steps-icon.ivu-icon {
  font-size: 20px !important;
}

.ivu-alert {
  font-size: 12px !important;
  border-radius: 0 !important;
}

.ivu-collapse {
  border-radius: 0 !important;
}

.ivu-table {
  //font-size: 12px!important;
}

.ivu-table td,
.ivu-table th {
  //height: 40px;
}

.ivu-table-tbody {
  //font-size: 12px!important;
}

.ivu-checkbox-wrapper {
  font-size: 12px !important;
}

.ivu-select-dropdown {
  border-radius: 0 !important;
}

.ivu-table-cell {
  padding-left: 12px !important;
  padding-right: 24px;
}

.ivu-modal-content {
  border-radius: 0 !important;
}

.ivu-modal-header p,
.ivu-modal-header-inner {
  font-size: 14px !important;
}

.ivu-modal-body {
  font-size: 12px !important;
}

.ivu-card-head p,
.ivu-card-head-inner {
  font-size: 14px !important;
}

.ivu-dropdown-item {
  font-size: 12px !important;
}

.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
  border-radius: 0 !important;
}

.ivu-page-item {
  border-radius: 0 !important;
}

.page-header .ivu-page-header-content {
  font-size: 12px !important;
}

//.ivu-form-item{
//  margin-bottom: 16px!important;
//}
.ivu-steps .ivu-steps-title {
  font-weight: 500 !important;
}

.ivu-form-item-required .ivu-form-item-label:after {
  content: '*';
  display: inline-block;
  margin-left: 4px;
  line-height: 1;
  font-family: SimSun;
  font-size: 12px;
  color: #ed4014;
}

.ivu-form-item-required .ivu-form-item-label:before {
  display: none;
}

.ivu-divider-horizontal.ivu-divider-with-text-center,
.ivu-divider-horizontal.ivu-divider-with-text-left,
.ivu-divider-horizontal.ivu-divider-with-text-right {
  font-size: 14px;
}

.ivu-progress-wrong .ivu-progress-bg {
  opacity: 0.7;
}

.ivu-progress-success .ivu-progress-bg {
  opacity: 0.7;
}

.ivu-progress-wrong .ivu-progress-text {
  opacity: 0.7;
}

.ivu-progress-success .ivu-progress-text {
  opacity: 0.7;
}

.ivu-progress-bg {
  border-radius: 0;
}

.ivu-progress-inner {
  border-radius: 0;
}

.ivu-progress-active .ivu-progress-bg:before {
  border-radius: 0;
}
